{% extends "base.html" %}
{% load static %}
{% block title %}OLSI | About Us{% endblock  %}
{% block content %}


<!-- Page Header Start -->
<div class="container-fluid page-header breadcrumb-bg py-5 mb-5">
  <div class="container text-center py-5">
    <h1 class="display-3 text-primary mb-4 slideInDown">
      <span class="text-white">About</span><img src="{% static 'img/Olsi_white_logo.png' %}" alt="" style="height: 70px; margin: 0 5px 10px 0; " />
      
    </h1>
    <nav aria-label="breadcrumb animated slideInDown">
      <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}" style="text-decoration: none;"><span class="text-white-50" style="font-size: 30px;">Home&nbsp; &#47;</span></a>
        </li>

        <li class="breadcrumb-item">
          <a href="{% url 'business' %}"><span class="text-white-50" style="font-size: 30px;">About OLSI</span></a>
        </li>
      </ol>
    </nav>
  </div>
</div>
<!-- Page Header End -->
    
<main class="container" style="margin: 50px;">
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-info bg-gradient">
    <div class="col-lg-6 px-0">
      <h1 class="display-4">About OLSI</h1>
      <p class="lead my-3">To help people live a healthy and life of economical freedom on their own way.</p>
      {% comment %} <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Continue reading...</a></p> {% endcomment %}
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">Discover OLSI</strong>
          <h3 class="mb-0">Your Path to Wellness and Entrepreneurship </h3><br>
          {% comment %} <div class="mb-1 text-body-secondary">Nov 12</div> {% endcomment %}
          <p class="card-text mb-auto">Discover OLSI, your gateway to a realm of well-being, entrepreneurial growth, and thriving communities. Based in Hyderabad, Driven by a resolute spirit, we are dedicated to elevating lives. Our dedicated team is committed to connecting you with top-tier solutions in health, wellness, fitness, and beauty. Whether you're nurturing your entrepreneurial ambitions or seeking wellness excellence, OLSI is your unwavering partner on this transformative journey.</p>
          {% comment %} <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading
            <svg class="bi"><use xlink:href="#chevron-right"/></svg>
          </a> {% endcomment %}
        </div>
        {% comment %} <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div> {% endcomment %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success-emphasis">Our Story</strong>
          <h3 class="mb-0">Years of Experience, Trust, and Global Aspirations</h3>
          {% comment %} <div class="mb-1 text-body-secondary">Nov 11</div> {% endcomment %}
          <p class="mb-auto">Embarking on a journey enriched by over four decades of collective industry experience, OLSI finds its inception in the vibrant city of Hyderabad. With a profound vision, that intertwines wellness and entrepreneurship, our path is illuminated by the promise of elevating lives. At OLSI, we stand as a beacon of empowerment and transformation. Our story is one of growth, trust, and a relentless pursuit of excellence. Our story is one of growth, trust, and a relentless pursuit of excellence.</p>
          {% comment %} <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading
            <svg class="bi"><use xlink:href="#chevron-right"/></svg>
          </a> {% endcomment %}
        </div>
        {% comment %} <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div> {% endcomment %}
      </div>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      {% comment %} <h3 class="pb-4 mb-4 fst-italic border-bottom">
        From the Firehose
      </h3> {% endcomment %}

      <article class="blog-post">
        <h1 class="display-5 link-body-emphasis mb-1">Our Strength</h1>
       
        <p>Embracing our entrepreneurial origins, rooted in innovation and ambition, OLSI derives its power from nurturing the spark of entrepreneurship. The entrepreneurial ethos runs deep within us. Despite being in the early stages of our journey, we're propelled by a vast global network. This network comprises numerous OLSI Partners, with a significant portion hailing from India. Among them, 
            A noteworthy segment is constituted by outstanding women, exemplifying excellence.</p>
        <hr>
        <p>In the awareness that cultivating an ecosystem is vital, OLSI offers a fertile ground for partners to establish and manage businesses that resonate with their passions. Whether it's the realm of fitness, well-being, or beauty, OLSI acts as the conduit for transforming aspirations into thriving endeavour’s.

        </p>
        <h2>OLSI Entrepreneurship Program: Cultivating Leadership Excellence</h2>
        <p>In a rapidly evolving global business landscape, leadership development has emerged as a cornerstone of sustained success. OLSI is dedicated to nurturing the skills of both its workforce and esteemed OLSI Partners. With this commitment in mind, OLSI proudly 
            joins hands with a distinguished institutions to launch a customized Entrepreneurship Program.</p>
        <blockquote class="blockquote">
          <p>The Entrepreneurship Program stands as a testament to our commitment to empowering OLSI Partner Leaders with contemporary leadership and business insights. This custom-designed program draws from real-world case studies, ensuring immersive and impactful learning experiences. The program's on-campus modules further elevate the journey, 
            highlighting the vital role of leadership development in today's dynamic business environment.</p>
        </blockquote>
        <hr>
        
        <h2 style="padding-left: 250px;">Our Journey</h2>
        <p><img src="{% static 'img/ourjourney.png' %}" style="height: 300px; width: 500px; padding-left: 200px;"></p>
        <h2>Embarking on a New Path</h2>
        <p>Our journey is in its initial strides, yet the vision is clear and the determination unwavering. We've set forth to create an impact, one step at a time. With passion as our compass, we're venturing into uncharted territories, guided by the belief that every small beginning has the potential to bloom into something extraordinary. Join us as we navigate this nascent journey,
             hand in hand, towards a future enriched with possibilities.</p>
        
        <p></p>
        
      {% comment %} <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">Another blog post</h2>
        <p class="blog-post-meta">December 23, 2020 by <a href="#">Jacob</a></p>

        <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
        <blockquote>
          <p>Longer quote goes here, maybe with some <strong>emphasized text</strong> in the middle of it.</p>
        </blockquote>
        <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
        <h3>Example table</h3>
        <p>And don't forget about tables in these posts:</p> {% endcomment %}
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Upvotes</th>
              <th>Downvotes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Alice</td>
              <td>10</td>
              <td>11</td>
            </tr>
            <tr>
              <td>Bob</td>
              <td>4</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Charlie</td>
              <td>7</td>
              <td>9</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>Totals</td>
              <td>21</td>
              <td>23</td>
            </tr>
          </tfoot>
        </table>

        

      

      
    </div> 

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-body-tertiary rounded">
          <h4 class="fst-italic">Our Vision</h4>
          <p class="mb-0">To help people live a healthy and life of economical freedom on their own way.</p>
          <br><br>
          <h4 class="fst-italic">Our Mission</h4>
          <p class="mb-0">To create a revolution and become peoples first choice in the industry by 2030.</p>
        </div>

        <div>
          <h4 class="fst-italic">Recent posts</h4>
          <ul class="list-unstyled">
            <li style="margin-left: 50px;">
              <a class="d-flex flex-column flex-lg-row gap-3 py-3 link-body-emphasis text-decoration-none" href="#">
                {% comment %} <svg class="bd-placeholder-img" width="100%" height="96" <img src="{% static 'img/agriculture.jpg' %}"> aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> {% endcomment %}
                <img src="{% static 'img/agriculture.jpg' %}" height="150px" width="200px">
                {% comment %} <div class="col-lg-8"> {% endcomment %}
                  <a class="btn btn-primary" href="{% url 'agriculture' %}" role="button">AgricultureExplore More &raquo;</a>
                  {% comment %} <a href="agriculture.html"><h6 class="mb-0">Indian agriculture and OLSI prospects</h6></a> {% endcomment %}
                  {% comment %} <small class="text-body-secondary">January 15, 2023</small> {% endcomment %}
                {% comment %} </div> {% endcomment %}
              </a>
            </li>
            <br>
            <li style="margin-left: 50px;">
              <a class="d-flex flex-column flex-lg-row gap-3 py-3 link-body-emphasis text-decoration-none" href="#">
                {% comment %} <svg class="bd-placeholder-img" width="100%" height="96"  <img src="{% static 'img/manufacture.jpeg' %}">  aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> {% endcomment %}
                <img src="{% static 'img/manufacture.jpeg' %}" height="150px" width="200px">
                <a class="btn btn-primary" href="{% url 'manufacture' %}" role="button">Manufacturing More &raquo;</a>

                <div class="col-lg-8">
                  {% comment %} <a href="manufacture.html"><h6 class="mb-0">Crafting Excellence Through Manufacturing</h6></a> {% endcomment %}
                  {% comment %} <small class="text-body-secondary">January 14, 2023</small> {% endcomment %}
                </div>
              </a>
            </li>
            {% comment %} <li>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none" href="#">
                <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                <div class="col-lg-8">
                  <h6 class="mb-0">Longer blog post title: This one has multiple lines!</h6>
                  <small class="text-body-secondary">January 13, 2023</small>
                </div>
              </a>
            </li> {% endcomment %}
          </ul>
        </div>

        
    </div> 
  </div> 

</main>

{% endblock  %}